body {
    margin: 0;
    padding: 0;
    background-color: #141124;

}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 45%;

}

.container {
    margin: 30px;
    Width: 50%;
    height: 0, auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.single_product {
    width: 100%;
    background-color: #141124;
    border-radius: 10px;
    margin:30px;
    padding: 20px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 350px;
}

.heading h1 {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: goldenrod;
    font-family: 'Great Vibes', cursive;
}

.product_content h3 {
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.title {
    color: white;
    text-align: center;
    font-size: 30px;
    margin: 20px;
}

.desc {
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 20px;

}

.price {
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}